html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Important for consistent box model */
}
*,
*::before,
*::after {
    box-sizing: inherit; /* Elements will inherit box-sizing from their parent */
}
html {
    font-size: 16px; /* Base font size */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    font-size: 1rem; /* Equivalent to 16px */
    line-height: 1.6; /* For readability */
}

h1 {
    font-size: 2.5rem; /* 2.5 * 16px = 40px */
    margin-bottom: 0.5em; /* Relative to H1's font size */
}


h3 {
    font-size: 1.5rem; /* 1.5 * 16px = 24px */
}

p {
    font-size: 1rem; /* 1 * 16px = 16px */
    margin-bottom: 1em;
}
#container{
    width: 40vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: solid 1px black;
    margin: 50px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#container h2{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 4px;
    padding: 10px;
    margin-bottom: 5px;

}
    

#calculator-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: solid 1px black;
    background-color: white;
    padding: 5px;
    margin: 5px;
    margin-top: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.display{
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: white;
    padding: 10px;
    margin: 3px auto;
    margin-top: 0;
    border-radius: 5px;
    font-size: 1.7em;
    flex-wrap: wrap;
    text-align: right;

}
.button-grid{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin: 5px;
    margin-top: 0;
    border-radius: 5px;
    background-color: rgba(128, 128, 147, 0.1);
}
.button{
    padding: 20px;
    font-size: 1.6em;
    width: 22%;
    margin: 5px;
    margin-top: 0;
   display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: white;
    height: 10%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.blue{
    background-color: rgb(82, 82, 245);
    transition: background-color .2s ease-in-out;
}
.blue:hover{
    background-color: antiquewhite;
}
.grey{
    background-color: grey;
}
.number,.grey{
    transition: background-color .2s ease-in-out,opacity .2s ease-in-out ;
}
.button:active{
    background-color: beige;
    opacity: .5;
}
.active{
    background-color: white;

}
.r1{
background-color: tomato;
aspect-ratio: 1/1;
width:  15%;
padding: 20px 35px 20px 35px;
margin: 5px 10px 5px 5px;

}
